<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualization System</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/common.css" />
</head>

<body>
    <!--START header-->
    <header>
        <div class="menu">
            <div class="logo">
                <a href="/">
                    <img src="img/logo3.png">
                </a>
            </div>
            <ul>
                <li><a href="#top">TOP</a> </li>
                <li><a href="#about">ABOUT</a> </li>
            </ul>
        </div>
    </header>
    <!--END header-->

    <!--START main-->
    <main>
        <IFRAME marginWidth=0 marginHeight=0 src="http://www.baidu.com" frameBorder=0 width=680 height=1800></IFRAME>
        <div style="width:300px; margin-left:auto; margin-right:auto; text-algin:center">
            <style>

                .bar {
                    fill: steelblue;
                }

                .bar:hover {
                    fill: brown;
                }

                .axis--x path {
                    display: none;
                }

            </style>
            <svg width="960" height="500"></svg>
            <script src="https://d3js.org/d3.v4.min.js"></script>
            <script>

                var svg = d3.select("svg"),
                    margin = {top: 20, right: 20, bottom: 30, left: 40},
                    width = +svg.attr("width") - margin.left - margin.right,
                    height = +svg.attr("height") - margin.top - margin.bottom;

                var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
                    y = d3.scaleLinear().rangeRound([height, 0]);

                var g = svg.append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

                d3.tsv("/data/test.tsv", function(d) {
                    return {
                        LINEID : d.LINEID,
                        CNT:+d.CNT
                    };
                },function(data) {
                    console.log(data);
                },function(error, data) {
                    if (error) throw error;

                    x.domain(data.map(function(d) { return d.LINEID; }));
                    y.domain([0, d3.max(data, function(d) { return d.CNT; })]);

                    g.append("g")
                        .attr("class", "axis axis--x")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(x));

                    g.append("g")
                        .attr("class", "axis axis--y")
                        .call(d3.axisLeft(y).ticks(10, "%"))
                        .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", "0.71em")
                        .attr("text-anchor", "end")
                        .text("CNT");

                    g.selectAll(".bar")
                        .data(data)
                        .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", function(d) { return x(d.LINEID); })
                        .attr("y", function(d) { return y(d.CNT); })
                        .attr("width", x.bandwidth())
                        .attr("height", function(d) { return height - y(d.CNT); });
                });

            </script>
        </div>
    </main>
    <!--END main-->

    <!--START foot-->
    <footer>

    </footer>
    <!--END foot-->
</body>
</html>